In [8]:
import pandas as pd
df = pd.read_csv('data/superstore.csv', encoding='ISO-8859-1')
df.groupby('State', as_index=False)['Sales'].sum().sort_values('Sales', ascending=False).rename(
    columns={
        "State": "Estado",
        "Sales": "Receita Total"
    })

                  Estado  Receita Total
3             California    457687.6315
30              New York    310876.2710
41                 Texas    170188.0458
45            Washington    138641.2700
36          Pennsylvania    116511.9140
8                Florida     89473.7080
11              Illinois     80166.1010
33                  Ohio     78258.1360
20              Michigan     76269.6140
44              Virginia     70636.7200
31        North Carolina     55603.1640
12               Indiana     53555.3600
9                Georgia     49095.8400
15              Kentucky     36591.7500
28            New Jersey     35764.3120
1                Arizona     35282.0010
47             Wisconsin     32114.6100
4               Colorado     32108.1180
40             Tennessee     30661.8730
21             Minnesota     29863.1500
19         Massachusetts     28634.4340
6               Delaware     27451.0690
18              Maryland     23705.5230
37          Rhode Island     22627.9560
23              Missouri     22205.1500
34              Oklahoma     19683.3900
0                Alabama     19510.6400
35                Oregon     17431.1500
26                Nevada     16729.1020
5            Connecticut     13384.3570
2               Arkansas     11678.1300
42                  Utah     11220.0560
22           Mississippi     10771.3400
16             Louisiana      9217.0300
43               Vermont      8929.3700
38        South Carolina      8481.7100
25              Nebraska      7464.9300
27         New Hampshire      7292.5240
24               Montana      5589.3520
29            New Mexico      4783.5220
13                  Iowa      4579.7600
10                 Idaho      4382.4860
14                Kansas      2914.3100
7   District of Columbia      2865.0200
48               Wyoming      1603.1360
39          South Dakota      1315.5600
17                 Maine      1270.5300
46         West Virginia      1209.8240
32          North Dakota       919.9100