In [10]:
import pandas as pd
df = pd.read_csv('data/superstore.csv', encoding='ISO-8859-1')
df.groupby(['Customer ID', 'Customer Name'], as_index=False)['Order ID'].count().sort_values(
    'Order ID', ascending=False).head(10).rename(columns={
        'Customer ID': 'ID Cliente',
        'Customer Name': 'Nome Cliente',
        'Order ID': 'Qtd. Pedidos'
    })

    ID Cliente         Nome Cliente  Qtd. Pedidos
787   WB-21850        William Brown            37
482   MA-17560         Matt Abelman            34
387   JL-15835             John Lee            34
606   PP-18955           Paul Prost            34
257   EH-13765         Edward Hooks            32
349   JD-15895     Jonathan Doherty            32
720   SV-20365          Seth Vernon            32
147   CK-12205  Chloris Kastensmidt            32
44    AP-10915       Arthur Prichep            31
275   EP-13915           Emily Phan            31